# Dependências
node_modules
pnpm-lock.yaml
npm-debug.log

# Build output
dist

# envs
.env

# Git
.git
.gitignore

# IDE / sistema
.DS_Store
.vscode

# Testes
coverage

# Logs
*.log

# Arquivos externos que não devem ir pro build
../backend
../infra
